@import "tailwindcss";

@theme {
    --font-cursive: cursive, sans-serif;

    --animate-bar-fill: bar-fill 600ms reverse 200ms forwards;
    @keyframes bar-fill {
        from, 99% {
            opacity: 1;
        }
        to {
            width: 0;
        }
    }
}