@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme {
    --font-ranchers: Shantell Sans, cursive, sans-serif;

    --animate-fade-in: fade-in 200ms forwards;
    @keyframes enter {
        from {
            opacity: 0;
        }
        to {
            opacity: 0.5;
        }
    }

    --animate-fade-out: fade-out 200ms forwards;
    @keyframes fade-out {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 0;
        }
    }

    --animate-enter: enter 200ms forwards;
    @keyframes enter {
        from {
            opacity: 0;
            transform: translateY(-25%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-leave: leave 200ms forwards;
    @keyframes leave {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-25%);
        }
    }

    --animate-bar-fill: bar-fill 600ms reverse 200ms forwards;
    @keyframes bar-fill {
        from, 99% {
            opacity: 1;
        }
        to {
            width: 0;
        }
    }
}